.grades {
  font-size:0.8cm;
  text-align:center;
  top:105px;
  width: 10%;
  height: 0.7cm;
  margin: 10% 0px 15% 5%;
  background-color: #0f0;

}
#curriculum {
  position: absolute;
  top: 100px;
  left: 20%;
  width: 75%;
  height: 80%;
  background-color: #0ff;
}
