.grades {
  font-size: 22pt;
  text-align: center;
  top: 0px;
  width: 10%;
  margin: 0px 0px 150px 5%;
  background-color: #0f0;
}
.curriculum {
  position: absolute;
  top: 8px;
  left: 20%;
  width: 75%;
  height: 720px;
  background-color: #0ff;
}
.tabs {
  position: absolute;
  top: 8px;
  left: 20%;
  width: 75%;
  height: 100px;
  background-color: #0ff;
}
.tabs ul:after {
  clear: both;
}
.tabName {
  float: left;
  width: 25%;
}
.tab-content {
  position: absolute;
  top: 108px;
  left: 20%;
  width: 75%;
  height: 600px;
  background-color: #ff0;
}
